Repository RenaissanceTeam/tygojira_backend, pull requests merged in 2020-03, with the labels that each got.

#44 Predefined skills, positions, subdivisions
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeExceptionsMapper.kt
  employee/src/main/java/ru/fors/employee/data/dto/PositionsDto.kt
  employee/src/main/java/ru/fors/employee/data/dto/SkillsDto.kt
  employee/src/main/java/ru/fors/employee/data/dto/SubdivisionsDto.kt
  employee/src/main/java/ru/fors/employee/data/provider/PositionsProviderImpl.kt
  employee/src/main/java/ru/fors/employee/data/provider/SkillsProviderImpl.kt
  employee/src/main/java/ru/fors/employee/data/provider/SubdivisionsProviderImpl.kt
  employee/src/main/java/ru/fors/employee/domain/gate/PositionsProvider.kt
  employee/src/main/java/ru/fors/employee/domain/gate/SkillsProvider.kt
  employee/src/main/java/ru/fors/employee/domain/gate/SubdivisionsProvider.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/AddEmployeeUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetPositionsUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetSkillsUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetSubdivisionsUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/UpdateEmployeeUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/ValidateEmployeeUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/entity/EmployeeValidationException.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetPositionsUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetSkillsUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetSubdivisionsUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/ValidateEmployeeUseCase.kt
Labels: employee-registry, refactoring

#45 workload requests notifications
  employee/src/main/java/ru/fors/employee/data/repo/EmployeeRepo.kt
  employee/src/main/java/ru/fors/employee/data/repo/EmployeeRoleRepo.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetBusinessRoleByEmployeeUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetEmployeesWithRoleInSubdivisionUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetBusinessRoleByEmployeeUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetEmployeesWithRoleInSubdivisionUseCase.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/AssignedWorkloadRequestsDto.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/InitiatedWorkloadRequestsDto.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestObservableRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestObservableRepoImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/AddWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/ChangeRequestStatusUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetAssignedWorkloadRequestByEmployeeUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetInitiatedWorkloadRequestsByEmployeeUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadRequestsAssignedToCallerUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/NotifyEmployeeOfAssignedRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/NotifyInitiatorEmployeeUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/UpdateWorkloadRequestUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/entity/NoInitiatorException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetAssignedWorkloadRequestByEmployeeUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetInitiatedWorkloadRequestsByEmployeeUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/NotifyEmployeeOfAssignedRequestUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/NotifyInitiatorEmployeeUseCase.kt
Labels: workload-request

#47 fix employee deletion
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
Labels: bugfix

#48 fix production calendar mappings
  production_calendar/src/main/java/ru/fors/production/calendar/data/controller/ProductionCalendarController.kt
  production_calendar/src/main/java/ru/fors/production/calendar/data/dto/HolidaysResponseDto.kt
  production_calendar/src/main/java/ru/fors/production/calendar/domain/usecase/DeleteHolidayUseCaseImpl.kt
  production_calendar/src/main/java/ru/fors/production/calendar/domain/usecase/GetHolidayByIdUseCaseImpl.kt
  production_calendar_api/src/main/java/ru/fors/production/calendar/api/domain/usecase/DeleteHolidayUseCase.kt
  production_calendar_api/src/main/java/ru/fors/production/calendar/api/domain/usecase/GetHolidayByIdUseCase.kt
Labels: refactoring

#49 implement notifs
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadNotification.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadNotificationType.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/NotificationsDto.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/WorkloadRequestsDto.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadNotificationRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestObservableRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestObservableRepoImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/AddWorkloadNotificationForEmployeeUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadNotificationsForCallerUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/NotifyEmployeeOfAssignedRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/NotifyInitiatorEmployeeUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/RemoveWorkloadNotificationsForCallerUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/AddWorkloadNotificationForEmployeeUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetWorkloadNotificationsForCallerUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/RemoveWorkloadNotificationsForCallerUseCase.kt
Labels: workload-request

#57 Feature/add activity with lead
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/AddActivityUseCaseImpl.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/SetActivityLeadUseCaseImpl.kt
  activity_api/src/main/java/ru/fors/activity/api/domain/dto/ActivityDto.kt
  activity_api/src/main/java/ru/fors/activity/api/domain/usecase/SetActivityLeadUseCase.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/ChangeRequestStatusUseCaseImpl.kt
Labels: activity-registry, refactoring

#56 AB#46 AB#148 Feature/employees workload percentage on activity
  monitoring/src/main/java/ru/fors/monitoring/data/controller/MonitoringController.kt
  monitoring/src/main/java/ru/fors/monitoring/domain/mapper/ActivityWorkloadToDtoMapperImpl.kt
  monitoring/src/main/java/ru/fors/monitoring/domain/usecase/CalculateEmployeesWorkloadPercentageOnActivityUseCaseImpl.kt
  monitoring_api/src/main/java/ru/fors/monitoring/api/domain/mapper/ActivityWorkloadToDtoMapper.kt
  monitoring_api/src/main/java/ru/fors/monitoring/api/domain/usecase/CalculateEmployeesWorkloadPercentageOnActivityUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/dto/EmployeeWorkloadDto.kt
Labels: monitoring

#60 Feature/activities filtering by requester role
  activity/src/main/java/ru/fors/activity/data/repo/ActivityRepo.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/GetActivitiesUseCaseImpl.kt
Labels: activity-registry
