Repository RenaissanceTeam/tygojira_backend, pull requests merged in 2020-02, with the labels that each got.

#21 AB#87 Swagger
  app/build.gradle
  app/src/main/java/ru/fors/app/configuration/WebMvcConfig.kt
  auth/src/main/java/ru/fors/auth/data/config/WebSecurityConfig.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthController.kt
  auth/src/test/java/ru/fors/auth/domain/RoleCheckerImplTest.kt
  auth_api/src/main/java/ru/fors/auth/api/domain/dto/SystemUserRoleResponse.kt
  auth_api/src/main/java/ru/fors/auth/api/domain/dto/UserInfo.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetEmployeeRoleByUsernameUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/entity/NoLinkedToEmployeeUserException.kt
  entity/src/main/java/ru/fors/entity/employee/Role.kt
  gradle/scripts/dependencies-versions.gradle
  gradle/scripts/dependencies.gradle
  settings.gradle
  swagger/.gitignore
  swagger/build.gradle
  swagger/src/main/java/ru/fors/swagger/data/config/SwaggerConfig.kt
Labels: documentation

#23 AB#90 AB#28 пометка дней как сторонняя активность
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  app/build.gradle
  app/src/main/java/ru/fors/app/configuration/EntityExceptionsMapper.kt
  app/src/main/resources/application.properties
  auth/src/main/java/ru/fors/auth/data/controller/AuthController.kt
  auth/src/main/java/ru/fors/auth/data/controller/UserController.kt
  auth/src/main/java/ru/fors/auth/data/utils/Utils.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/data/dto/SeparateActivityAvailabilityDto.kt
  employee/src/main/java/ru/fors/employee/data/mapper/AvailabilityToDtoMapper.kt
  employee/src/main/java/ru/fors/employee/data/repo/SeparateActivityAvailabilityRepo.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetAvailabilityForSeparateActivitiesUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetEmployeeByIdUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/SetAvailableForSeparateActivitiesUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetAvailabilityForSeparateActivitiesUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetEmployeeByIdUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/SetAvailableForSeparateActivitiesUseCase.kt
  entity/src/main/java/ru/fors/entity/employee/SeparateActivityAvailability.kt
  util/src/main/java/ru/fors/util/Constants.kt
  util/src/main/java/ru/fors/util/EntityExceptionMapper.kt
  util/src/main/java/ru/fors/util/ExceptionMapper.kt
  util/src/main/java/ru/fors/util/Extensions.kt
  util/src/main/java/ru/fors/util/StringDateMapper.kt
  util/src/main/java/ru/fors/util/ThrowableExtensions.kt
  util/src/main/java/ru/fors/util/config/UtilConfiguration.kt
  util/src/test/java/ru/fors/util/ExtensionsKtTest.kt
Labels: workload-request

#24 AB#91 AB#48 сохранение сформированного запроса
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  activity/src/main/java/ru/fors/activity/domain/mapper/ActivityDtoEntityMapper.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/AddActivityUseCaseImpl.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/GetActivitiesUseCaseImpl.kt
  activity/src/main/java/ru/fors/activity/domain/usecase/UpdateActivityUseCaseImpl.kt
  activity_api/src/main/java/ru/fors/activity/api/domain/dto/ActivityDto.kt
  activity_api/src/main/java/ru/fors/activity/api/domain/usecase/UpdateActivityUseCase.kt
  app/build.gradle
  app/src/main/java/ru/fors/app/configuration/EntityExceptionsMapper.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthController.kt
  auth/src/main/java/ru/fors/auth/data/controller/UserController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/data/mapper/AvailabilityToDtoMapper.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetCallingEmployeeUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetEmployeeByUserUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetEmployeeRoleByUsernameUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetFullEmployeesInfoUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/entity/NoEmployeeLinkedWithUserException.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/entity/NoLinkedToEmployeeUserException.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetCallingEmployeeUseCase.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/GetEmployeeByUserUseCase.kt
  entity/src/main/java/ru/fors/entity/Constants.kt
  entity/src/main/java/ru/fors/entity/activity/Activity.kt
  entity/src/main/java/ru/fors/entity/auth/SystemRole.kt
  entity/src/main/java/ru/fors/entity/employee/Employee.kt
  entity/src/main/java/ru/fors/entity/employee/EmployeeRole.kt
  entity/src/main/java/ru/fors/entity/employee/EmployeeUser.kt
  entity/src/main/java/ru/fors/entity/employee/SeparateActivityAvailability.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequest.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestPosition.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestStatus.kt
  gradle/scripts/dependencies.gradle
  pagination_api/build.gradle
  settings.gradle
  util/src/main/java/ru/fors/util/Constants.kt
  util/src/main/java/ru/fors/util/config/UtilConfiguration.kt
  util/src/main/java/ru/fors/util/extensions/Extensions.kt
  util/src/main/java/ru/fors/util/extensions/PaginationExtensions.kt
  util/src/main/java/ru/fors/util/mapper/DtoEntityMapper.kt
  util/src/main/java/ru/fors/util/mapper/EntityExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/ExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/StringDateMapper.kt
  util/src/test/java/ru/fors/util/ExtensionsKtTest.kt
  workload/.gitignore
  workload/build.gradle
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestRepo.kt
  workload/src/main/java/ru/fors/workload/request/domain/mapper/WorkloadRequestDtoToEntityMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/mapper/WorkloadRequestPositionDtoToEntityMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/SaveWorkloadRequestUseCaseImpl.kt
  workload_api/.gitignore
  workload_api/build.gradle
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestDto.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestPositionDto.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/SaveWorkloadRequestUseCase.kt
Labels: workload-request

#25 AB#92 AB#50 просмотр своих реквестофф
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestRepo.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadRequestsForCallerUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetWorkloadRequestsForCallerUseCase.kt
Labels: workload-request

#26 Change exception mapper
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  activity/src/main/java/ru/fors/activity/data/controller/ActivityExceptionsMapper.kt
  app/src/main/java/ru/fors/app/configuration/EntityExceptionsMapper.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthController.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthExceptionsMapper.kt
  auth/src/main/java/ru/fors/auth/data/controller/UserController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeExceptionsMapper.kt
  util/src/main/java/ru/fors/util/extensions/Extensions.kt
  util/src/main/java/ru/fors/util/extensions/ThrowableExtensions.kt
  util/src/main/java/ru/fors/util/mapper/BadDateFormat.kt
  util/src/main/java/ru/fors/util/mapper/EntityExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/ExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/StringDateMapper.kt
  util/src/main/java/ru/fors/util/mapper/UtilExceptionsMapper.kt
  util/src/test/java/ru/fors/util/ExtensionsKtTest.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadExceptionsMapper.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
Labels: refactoring

#27 WIP Change date format
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  activity/src/main/java/ru/fors/activity/data/controller/ActivityExceptionsMapper.kt
  app/src/main/java/ru/fors/app/configuration/EntityExceptionsMapper.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthController.kt
  auth/src/main/java/ru/fors/auth/data/controller/AuthExceptionsMapper.kt
  auth/src/main/java/ru/fors/auth/data/controller/UserController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeExceptionsMapper.kt
  util/src/main/java/ru/fors/util/extensions/Extensions.kt
  util/src/main/java/ru/fors/util/extensions/ThrowableExtensions.kt
  util/src/main/java/ru/fors/util/mapper/BadDateFormat.kt
  util/src/main/java/ru/fors/util/mapper/EntityExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/ExceptionMapper.kt
  util/src/main/java/ru/fors/util/mapper/StringDateMapper.kt
  util/src/main/java/ru/fors/util/mapper/UtilExceptionsMapper.kt
  util/src/test/java/ru/fors/util/ExtensionsKtTest.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadExceptionsMapper.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
Labels: refactoring

#30 AB#93 AB#27 edit request
  employee/src/main/java/ru/fors/employee/domain/usecase/CheckIfEmployeeIsFromCallerSubdivisionUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/GetFullEmployeesInfoUseCaseImpl.kt
  employee/src/main/java/ru/fors/employee/domain/usecase/UpdateEmployeeUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/dto/FullEmployeeInfoDto.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/dto/UpdateEmployeeInfoDto.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/usecase/CheckIfEmployeeIsFromCallerSubdivisionUseCase.kt
  entity/src/main/java/ru/fors/entity/employee/Employee.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestPosition.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadExceptionsMapper.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/domain/mapper/WorkloadRequestPositionDtoToEntityMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/AddWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/UpdateWorkloadRequestUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/AddWorkloadNotAllowedException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/UpdateWorkloadNotAllowedException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestPositionDto.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/entity/NoWorkloadFoundException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/AddWorkloadRequestUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/UpdateWorkloadRequestUseCase.kt
Labels: workload-request

#33 AB#26 добавил ворк юниты чтобы на фронте можно было по-разному выбирать периоды нагрузки
  entity/src/main/java/ru/fors/entity/Constants.kt
  entity/src/main/java/ru/fors/entity/workload/WorkUnit.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestPosition.kt
  util/src/main/java/ru/fors/util/extensions/BooleanExtensions.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadExceptionsMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/mapper/WorkloadRequestPositionDtoToEntityMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/AddWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/UpdateWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/ValidateWorkloadRequestUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestPositionDto.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/entity/WorkloadLessThanMinimumException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/ValidateWorkloadRequestUseCase.kt
Labels: refactoring, workload-request

#35 AB#97 AB#34 AB#38 смена статусов реквеста
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequest.kt
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestStatus.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/AddWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/ChangeRequestStatusUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestDto.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/ChangeRequestStatusUseCase.kt
Labels: workload-execution

#38 AB#99 AB#31 получение одного реквеста + конфликты (мб они не работают)
  entity/src/main/java/ru/fors/entity/Constants.kt
  entity/src/main/java/ru/fors/entity/workload/ActivityWorkload.kt
  entity/src/main/java/ru/fors/entity/workload/Conflict.kt
  entity/src/main/java/ru/fors/entity/workload/ConflictedWork.kt
  entity/src/main/java/ru/fors/entity/workload/Workload.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/WorkloadRequestConflictsDto.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/ActivityWorkloadRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/WorkloadRequestRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/specifications/WorkloadRequestSpecifications.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadConflictsForRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadRequestByIdUseCaseImpl.kt
  workload/src/test/java/ru/fors/workload/request/domain/usecase/GetWorkloadConflictsForRequestUseCaseImplTest.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetWorkloadConflictsForRequestUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/GetWorkloadRequestByIdUseCase.kt
Labels: workload-execution

#39 Allow to update all employee info
  employee/src/main/java/ru/fors/employee/domain/usecase/UpdateEmployeeUseCaseImpl.kt
  employee_api/src/main/java/ru/fors/employee/api/domain/dto/UpdateEmployeeInfoDto.kt
Labels: refactoring

#40 Deleting position in request with removing work units and deactivating it
  entity/src/main/java/ru/fors/entity/workload/request/WorkloadRequestPosition.kt
  workload/src/main/java/ru/fors/workload/request/domain/mapper/WorkloadRequestPositionDtoToEntityMapper.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/UpdateWorkloadRequestUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/dto/WorkloadRequestPositionDto.kt
Labels: workload-execution

#41 AB#103 AB#37 удовлетворить реквест и получение нагрузка для сотрудника/activity
  activity/build.gradle
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
  employee/build.gradle
  employee/src/main/java/ru/fors/employee/data/controller/EmployeeController.kt
  entity/src/main/java/ru/fors/entity/workload/ActivityWorkload.kt
  entity/src/main/java/ru/fors/entity/workload/Workload.kt
  workload/src/main/java/ru/fors/workload/domain/mapper/ActivityWorkloadToDtoMapperImpl.kt
  workload/src/main/java/ru/fors/workload/domain/mapper/AllEmployeeWorkloadsToDtoMapperImpl.kt
  workload/src/main/java/ru/fors/workload/domain/mapper/EmployeeWorkloadOnActivityToDtoMapperImpl.kt
  workload/src/main/java/ru/fors/workload/domain/usecase/GetActivityWorkloadByActivityIdUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/domain/usecase/GetActivityWorkloadThatContainsWorkloadUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/domain/usecase/GetAllEmployeeWorkloadsUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadExceptionsMapper.kt
  workload/src/main/java/ru/fors/workload/request/data/controller/WorkloadRequestController.kt
  workload/src/main/java/ru/fors/workload/request/data/dto/ActivityWorkloadSmallDto.kt
  workload/src/main/java/ru/fors/workload/request/data/repo/ActivityWorkloadRepo.kt
  workload/src/main/java/ru/fors/workload/request/data/specifications/WorkloadRequestSpecifications.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/GetWorkloadConflictsForRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/SatisfyWorkloadRequestUseCaseImpl.kt
  workload/src/main/java/ru/fors/workload/request/domain/usecase/UpdateWorkloadRequestUseCaseImpl.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/dto/ActivityWorkloadDto.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/dto/AllEmployeeWorkloadsDto.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/dto/EmployeeWorkloadDto.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/dto/EmployeeWorkloadOnActivityDto.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/entity/NoActivityWorkloadContainsWorkloadException.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/entity/NoWorkloadForActivityException.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/mapper/ActivityWorkloadToDtoMapper.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/mapper/AllEmployeeWorkloadsToDtoMapper.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/mapper/EmployeeWorkloadOnActivityToDtoMapper.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/usecase/GetActivityWorkloadByActivityIdUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/usecase/GetActivityWorkloadThatContainsWorkloadUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/domain/usecase/GetAllEmployeeWorkloadsUseCase.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/entity/NoActiveWorkloadPositionsException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/entity/NoEmployeeForPositionException.kt
  workload_api/src/main/java/ru/fors/workload/api/request/domain/usecase/SatisfyWorkloadRequestUseCase.kt
Labels: workload-execution

#42 Refactoring calendar
  entity/src/main/java/ru/fors/entity/holiday/Holiday.kt
  production_calendar/src/main/java/ru/fors/production/calendar/data/controller/ProductionCalendarController.kt
  production_calendar/src/main/java/ru/fors/production/calendar/data/dto/HolidayDto.kt
  production_calendar/src/main/java/ru/fors/production/calendar/data/mapper/HolidayDtoMapper.kt
  production_calendar/src/main/java/ru/fors/production/calendar/data/repo/HolidaysRepository.kt
  production_calendar/src/main/java/ru/fors/production/calendar/domain/usecase/AddHolidayUseCaseImpl.kt
  production_calendar/src/main/java/ru/fors/production/calendar/domain/usecase/UpdateHolidayUseCaseImpl.kt
  production_calendar_api/src/main/java/ru/fors/production/calendar/api/domain/entity/HolidayNotFoundException.kt
  production_calendar_api/src/main/java/ru/fors/production/calendar/api/domain/usecase/AddHolidayUseCase.kt
Labels: refactoring

#43 fix activity mappings
  activity/src/main/java/ru/fors/activity/data/controller/ActivityController.kt
Labels: refactoring
